{% macro createSideBarItem(button) %}
    {% set current = button.controllerName in app.request.attributes.get("_controller") %}
    <a href="{{ path(button.pathName) }}"
       class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        {{ include(button.SVGFileName) }}
        <span class="ms-3">{{ button.name }}</span>
    </a>
{% endmacro %}