{% for message in app.flashes('success') %}
    <div style="bottom: {{ ((loop.index0 * 50) + 15) * 0.25 }}rem;" class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-md fixed bottom-15 right-5" role="alert">
        {% include 'svg/checkmark-circle.svg.twig' %}
        <div class="ps-4 text-sm font-normal">{{ message }}</div>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div style="bottom: {{ ((loop.index0 * 50) + 15) * 0.25 }}rem;" class="flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-md fixed bottom-15 right-5" role="alert">
        {% include 'svg/close-circle.svg.twig' %}
        <div class="ps-4 text-sm font-normal">{{ message }}</div>
    </div>
{% endfor %}