{% set current = ( itemPath == currentPath and itemPath != '' ) %}
<a href="{{ itemPath }}"
   class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
    {{ include(itemSVGFileName) }}
    <span class="ms-3">{{ itemName }}</span>
</a>