{% set iconSize = "24" %}
{% import 'macros/_sideBarItem.html.twig' as SideBarItemMacro %}
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Barra Lateral">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            {% for button in sideBarButtons %}
                {% if loop.first %}
                    <li class="pb-4 mb-4 border-b border-gray-200">
                        {{ SideBarItemMacro.createSideBarItem(button) }}
                    </li>
                {% else %}
                    <li>
                        {{ SideBarItemMacro.createSideBarItem(button) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
