<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sistema de Vendas{% endblock %}</title>
        <link rel="icon" type="image/svg" href="{{ absolute_url('favicon.svg') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
